* {
  scroll-behavior: smooth;
}

button#scroll-btn {
  opacity: 0;
  width: 4rem;
  height: 4rem;
  background: #fff;
  position: fixed;
  bottom: 10%;
  right: 10%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 50%;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
}

button#scroll-btn.show {
  opacity: 1;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  transition: opacity 1s, transform 1s, -webkit-transform 1s;
}

button#scroll-btn>svg {
  width: 50%;
}