/* TOC */
/* 
01  navigation mobile
02  mobile menu overlay
03  navigation media queries min width 760px
05  navigation media queries min width 1100 px
*/

/* 01 navigation mobile */

nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin: 0 5%;
  padding: 3rem 1rem;
  position: relative;
  z-index: 2;
}

nav a.avd-logo {
  z-index: 2;
  width: 50%;
  max-width: 10rem;
  height: auto;
}

nav button.burger-nav {
  z-index: 2;
  width: 10%;
  height: 2rem;
  max-width: 3rem;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  position: relative;
}

nav span.burger {
  display: block;
  position: absolute;
  height: 15%;
  width: 100%;
  background: #000;
  border-radius: 10px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

nav span.burger:nth-child(1) {
  top: 0;
}

nav span.burger:nth-child(2),
nav span.burger:nth-child(3) {
  top: 40%;
}

nav span.burger:nth-child(4) {
  top: 80%;
}

nav button.open span.burger:nth-child(1),
nav button.open span.burger:nth-child(4) {
  top: 45%;
  width: 0;
  left: 50%;
}

nav button.open span.burger:nth-child(2) {
  transform: rotate(45deg);
}

nav button.open span.burger:nth-child(3) {
  transform: rotate(-45deg);
}

nav ul {
  display: none;
  text-transform: uppercase;
}

/* 02 mobile menu overlay */

div.overlay-menu {
  display: none;
  z-index: 1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: #fff;
  color: #000;
  overflow-x: hidden;
  font-size: 5rem;
}

ul.overlay-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0 3rem;
  gap: 1.5rem;
  font-size: 1.5rem;
  position: fixed;
  top: 20%;
  right: 0;
}

a.contact-button-menu {
  border: #09c1b2 2px solid;
  box-shadow: 0 0 10px #09c1b2;
  padding: 0.7rem 1.5rem;
  font-size: 1.5rem;
  background: transparent;
  position: relative;
  left: 30px;
  display: block;
  margin-top: 0.5rem;
}

ul.small-menu {
  display: block;
  height: 2rem;
  text-align: right;
  margin: 2rem 0;
  font-size: 1.2rem;
  text-transform: initial;
}

button.dark-mode-switch {
  width: 5rem;
}

button.dark-mode-switch img {
  width: 100%;
}

button.language-switch-menu {
  font-weight: 400;
}

/* 03 navigation media queries min width 770px */

@media (min-width: 760px) {

  nav {
    margin: 0 4rem;
  }

  nav a.avd-logo {
    width: 60%;
    max-width: 12rem;
  }

  ul.overlay-content {
    gap: 2rem;
    font-size: 1.8rem;
    padding: 0 5rem;
  }

  ul.small-menu {
    font-size: 1.5rem;
    margin: 1.5rem 0;
  }

  button.language-switch-menu {
    font-size: 1.5rem;
  }

}



/* 05 navigation media queries min width 1000px */

@media (min-width: 1000px) {

  nav {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: end;
    align-items: flex-end;
    position: relative;
    font-size: 1rem;
    height: 10rem;
    padding: 2rem 0;
    margin-right: 2.5rem;
  }

  nav a.avd-logo {
    width: 20%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    left: 3rem;
  }

  nav button.burger-nav {
    display: none;
  }

  div.overlay-menu {
    display: none;
  }

  nav ul.nav-switches {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
  }

  nav button.theme-switch {
    width: 18px;
    height: auto;
  }

  nav button.theme-switch :hover {
    fill: #09c1b2;
    stroke: #09c1b2;
  }

  nav button.language-switch-header {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 400;
  }

  nav button.language-switch-header:hover {
    color: #09c1b2;
  }

  nav ul.site-nav {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
  }

  nav li {
    margin: 0 2rem;
    list-style: none;
  }

  nav li :hover {
    color: #09c1b2;
  }

  nav a.contact-button-header {
    border: #09c1b2 2px solid;
    box-shadow: 0 0 10px #09c1b2;
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    background: transparent;
  }

}