/* TOC */
/* 
01  body
02  forms
03  account security section
04  delete account section
05  media queries min width 760px
06  media queries min width 820px

*/

/* 01 body */

body {
  font-family: var(--font-montserrat);
  font-style: normal;
}

h2, h3 {
  font-weight: 500;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1rem;
}

hr.title-separator {
  opacity: 0.5;
  margin-bottom: 1rem;
}

span.error-span {
  color: var(--errorRed);
  font-size: 0.8rem;
}

/* 02 forms */

div.section-container {
  display: grid;
  grid-template-columns: 1fr;
}

section {
  height: max-content;
}

div.input-container {
  position: relative;
  height: 2.5rem;
  margin: 1rem 0 3rem 0;
}

input {
  border-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 0.3rem;
}

div.user-title-container {
  display: flex;
  align-content: center;
  gap: 2rem;
  margin: 1.5rem 0;
}

label[for="user-title"] {
  position: initial;
  transform: translateY(0%);
  opacity: 1;
  color: var(--black);
}

fieldset {
  border: none;
  margin-bottom: 1rem;
}

fieldset label {
  display: flex;
  gap: 1rem;
}

div.flex-container,
div.form-flex-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

div.form-flex-container {
  gap: 0;
}

div.confirmation {
  border: 2px solid var(--lightGreen);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
  padding: 0.8rem;
  font-size: 0.8rem;
}

/* 03 account security section */

div.acc-sec-grid {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  align-items: center;
}

i.first {
  grid-column: 1/2 ;
  grid-row: 1/2;
}

i.second {
  grid-column: 1/2 ;
  grid-row: 3/4;
}

div.acc-sec-grid h3.email {
  grid-column: 2/3 ;
  grid-row: 1/2;
}

div.acc-sec-grid h3.two-step {
  grid-column: 2/3 ;
  grid-row: 3/4;
}

div.acc-sec-grid button.email-verification {
  grid-column: 2/3 ;
  grid-row: 2/3;
}

div.acc-sec-grid button.two-step-verification {
  grid-column: 2/3 ;
  grid-row: 4/5;
}

i.fa-circle-exclamation {
  color: var(--errorRed);
}

i.fa-check {
  color: var(--checkedBlue);
}

/* 04 delete account section */

section.delete-acc {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

section.acc-security button {
  color: var(--checkedBlue);
}

section.acc-security button:hover {
text-decoration: underline;
}

button.save-changes,
button.delete-btn {
  display: block;
  background-color: var(--lightGreen);
  border: var(--darkGreen) 1px solid;
  color: var(--white);
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0.6rem 1.3rem;
  text-align: center;
  width: 100%;
}

/* 05 media queries min width 760px */

@media (min-width: 760px) {

  section.acc-security,
  section.update-password {
    width: 80%;
  }

}

/* 06 media queries min width 820px */

@media (min-width: 820px) {

  div.section-container {
    grid-template-columns: 1fr 1fr;
  }

  div.section-container>section {
    width: 80%;
  }

  section {
    max-width: 1000px;
  }

  section.delete-acc {
    margin-bottom: 0;
  }

  div.flex-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  button.save-changes:hover,
  button.delete-btn:hover {
    background-color: transparent;
    color: var(--black);
    transition: all 0.5s ease;
  }

}