/* TOC */
/* 
01  form  
02  media queries min width 760px
03  media queries min width 1200px

*/

/* 01 form */

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-container {
  position: relative;
  height: 2.5rem;
  width: 80%;
  margin-bottom: 1.5rem;
}

i.password-toggle {
  position: absolute;
  left: 90%;
  bottom: 30%;
  width: 1.5rem;
  opacity: 0.7;
}

ul.password-rules {
  list-style-type: disc;
  position: relative;
  left:10%;
  width: 85%;
  margin-bottom: 2rem;
}

/* 02  media queries min width 760px */

@media (min-width: 760px) {

  div.container {
    width: 70%;
  }

  i.password-toggle {
    left: 75%;
  }

  ul.password-rules {
    left: 5%;
  }

  div.buttons {
    width: 80%;
  }

}

/* 02 media queries min width 1000px */

@media (min-width:1000px) {

  div.container {
    margin-top: 10vh;
  }
  
}

/* 02  media queries min width 1200px */
	
@media (min-width:1200px) {

  i.password-toggle {
    left: 440px;
  }
  
}
