/* TOC */
/* 
01  body
02  form
03  media queries min width 820px
04  media queries min width 1000px

*/

/* 01 body */

body {
  font-family: var(--font-montserrat);
  font-style: normal;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

div.flex-container-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

hr.title-separator {
  opacity: 0.5;
  margin-bottom: 1rem;
}

/* 02 form */

div.input-container {
  position: relative;
  height: 2.5rem;
  /* width: 80vw; */
  margin-bottom: 5rem;
}

i.fa-circle-exclamation {
  color: var(--errorRed);
}

div.status-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  border-color: var(--darkHover);
  border-radius: 5px;
  width: 100%;
  padding: 0.3rem;
}

button.create-btn {
  display: block;
  background-color: var(--lightGreen);
  border: var(--darkGreen) 1px solid;
  color: var(--white);
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0.6rem 1.3rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

span.error-span {
  color: var(--errorRed);
  font-size: 0.8rem;
}

/* 03 media queries min width 820px */

@media (min-width: 820px) {

  div.flex-container-title {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  section {
    width: 80%;
    max-width: 1000px;
  }

  input {
    width: 80%;
  }

  div.status-container {
    width: 50%;
  }

  button.create-btn:hover {
    background-color: transparent;
    color: var(--black);
    transition: all 0.5s ease;
  }

}

/* 04 media queries min width 1000px */

@media (min-width: 1000px) {

  a.go-back:hover {
    text-decoration: underline;
  }

  section {
    width: 65%;
  }

}